AnalysisSoftware
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
.project
.cproject
.pydevproject
*.py[cod]
*.log
*.so
*.root
Debug/
Profile/
Release/
CUTE_Tests/
*_TESTING.root
*_TEST.root
Root_IO_Performance.root
.settings/
*~
[#]*[#]
.\#*
